*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-tap-highlight-color: transparent;tap-highlight-color: rgba(0, 0, 0, 0);}
ul {list-style: none}
[v-cloak] {
	visibility: hidden
}
body {
    background: #8ed9ec;
    -webkit-text-size-adjust: 100% !important;
}
img {display: block; width: 100%;}
.top {
    background: url('../img/927/0927_3_01.jpg') no-repeat;
    background-size: 100%;
    padding-top: 174.8%;
}
.bottom {
    background: url('../img/927/0927_3_03.jpg') no-repeat;
    background-size: 100%;
    padding-top: 111%;
}
.center, .title {
    position: relative;
}
.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.text {
    color: #fff;
    text-align: center;
}
.text p {
    line-height: 20px;
    font-size: 12px;
}
.title {
    width: 50%;
    margin-left: 20%;
}
.title p {
    position: absolute;
    bottom: 45%;
    color: #fff;
    text-align: center;
    width: 100%;
    left: 12%;
    font-weight: 600;
    font-size: 14px;
}
.sudoku {
    padding-top: 10vw;
}
.sudoku ul {
    overflow: hidden; 
    width: 68%; 
    margin: 0 auto;
}
.sudoku li {
    width: 12vw;
    padding: 0 4vw;
    float: left;
    background: #e6a39b;
    height: 20vw;
    text-align: center;
    margin-top: 3%;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    position: relative;
}
.sudoku li span {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -55%);
}
.sudoku li:nth-child(2), .sudoku li:nth-child(5), .sudoku li:nth-child(8) {margin-left: 5%; margin-right: 5%;}
.sudoku li:nth-child(1), .sudoku li:nth-child(6), .sudoku li:nth-child(7) {
    background: url('../img/927/0927_2_1.png') no-repeat center;
    background-size: 90%;
}
.sudoku li:nth-child(2), .sudoku li:nth-child(4), .sudoku li:nth-child(8) {
    background: url('../img/927/0927_2_2.png') no-repeat center;
    background-size: 90%;
}
.sudoku li:nth-child(3), .sudoku li:nth-child(5), .sudoku li:nth-child(9) {
    background: url('../img/927/0927_2_3.png') no-repeat center;
    background-size: 90%;
}
