<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>912示爱节</title>
    <script src="https://h5.tudouni.doubozhibo.com/tudouni/js/whyInvistor.js"></script>
    <link rel="stylesheet" href="../css/courtship.css">
</head>
<body>
    <div class="contianer" v-cloak>
        <div class="top_img"><img src="../img/912/0907_1_01.jpg" alt=""></div>
        <div class="top_title">
            <img src="../img/912/0907_1_02.jpg" alt="">
            <div class="rule" @click="showRule"></div>
            <div class="top_wrap"> 
                <div class="img_1"><img src="../img/912/0907_1_02.png" alt=""></div>
                <div class="time">活动时间:9月12日10：00至9月16日22:00</div>
                <div class="img_2"><img src="../img/912/0907_1_04.png" alt=""></div>
                <div class="top_btn">
                    <span @click="share">分享活动</span>
                    <span @click="backLive">观看直播</span>
                </div>
            </div>
        </div>
        <div class="msg">
            <img src="../img/912/0907_2_01.jpg" alt="">
            <div>恭喜土豆号6666的用户获得xxx</div>
        </div>
        <div class="center">
            <img src="../img/912/0907_2_02.jpg" alt="">
            <div class="lottery"></div>
            <div class="lottey_num">剩余抽奖机会：<span>1</span></div>
        </div>
        <div class="my_prize">
            <img src="../img/912/0907_3_01.jpg" alt="">
            <div>
                <span @click="showPrize">我的奖品</span>
                <span @click="lotterRule">抽奖规则</span>
            </div>
        </div>
        <div class="list_top">
            <img src="../img/912/0907_4_02.jpg" alt="">
            <div style="display: none" v-show="liveroom">
                <span class="live" :class="{'islive': !activetab}" @click="changeTab(0)">直播间</span>
                <span class="all" :class="{'islive': activetab}" @click="changeTab(1)">总榜</span>
            </div>
            <div style="display: none" v-show="!liveroom">
                <span class="all islive">总榜</span>
            </div>
        </div>
        <div class="list_wrap">
            <img src="../img/912/0907_4_03.jpg" alt="">
            <div class="list">
                <div class="list_title" style="display: none" v-show="activetab">
                    <div><img src="../img/912/0907_5_02.png" alt=""></div>
                    <div><img src="../img/912/0907_5_03.png" alt=""></div>
                    <div><img src="../img/912/0907_5_04.png" alt=""></div>
                </div>
                <div class="list_title" style="display: none" v-show="!activetab">
                    <div><img src="../img/912/0907_5_03.png" alt=""></div>
                    <div class="nothing"></div>
                    <div><img src="../img/912/0907_5_04.png" alt=""></div>
                </div>
                <div class="list_content" style="display: none" v-show="activetab"></div>
                <div class="list_content" style="display: none" v-show="!activetab"></div>
            </div>
        </div>
        <div class="bottom">
            <img src="../img/912/0907_4_04.jpg" alt="">
            <a href="https://static.meiqia.com/dist/standalone.html?_=t&eid=59437"></a>
        </div>

        <!-- 一大堆弹窗-抽奖规则 -->
        <div class="dialog" v-if="dialog == 1">
            <div class="box-1 box"><span class="close" @click="dialog = 0"></span></div>
        </div>
        <!-- 任务规则 -->
        <div class="dialog" v-if="dialog == 2">
            <div class="box-2 box"><span class="close" @click="dialog = 0"></span></div>
        </div>
    </div>
</body>
    <script src="../com/jquery.js"></script>
    <script src="../com/vue.min.js"></script>
    <script src="../js/courtship.js"></script>
</html>