<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>星秀大战</title>
    <script src="https://h5.tudouni.doubozhibo.com/tudouni/js/whyInvistor.js"></script>
    <link rel="stylesheet" href="../css/hpshow.css">
</head>
<body>
    <div class="container">
        <!-- top -->
        <div class="top_wrap">
            <div class="top">
                <img src="https://image.tudouni.doubozhibo.com/common/h5/carnival/0904_1_01.jpg" alt="">
                <p>&lt;&lt;&lt;  贺音声卡独家赞助，星秀主播100万大奖  &gt;&gt;&gt;</p>
            </div>
            <div class="top_title">
                <h3>2018年9月6日-30日</h3>
                <p>THE VOICE 星秀大战 </p>
                <div>
                    <p>全民主播荣耀之战</p>
                    <p>瓜分<span>100万</span><span>大奖</span></p>
                </div>
            </div>
        </div>

        <!-- content -->
        <div class="center_wrap">
            <div class="center_tab">
                <span :class="{'active' : navActive == 0}" @click="changeTab(0)">加冕奖励</span>
                <span :class="{'active' : navActive == 1}" @click="changeTab(1)">活动规则</span>
                <span :class="{'active' : navActive == 2}" @click="changeTab(2)">星秀擂台</span>
            </div>
            <div class="content_1" v-if="navActive == 0">
                <img src="https://image.tudouni.doubozhibo.com/common/h5/carnival/0904_2_02.jpg" alt="">
            </div>
            <div class="content_2" v-if="navActive == 1">
                <img src="https://image.tudouni.doubozhibo.com/common/h5/carnival/0904_3_01.jpg" alt="">
                <div class="content_rule">
                    <div class="rule">
                        <p class="rule_itme"><span>1</span>主播需在活动期间内开播，才可开启上榜通道，如无开播，其他指标分数无效；</p>
                        <p class="rule_itme"><span>2</span>指标权重（总分为1000分）：</p>
                        <dl>
                            <dt><img src="https://image.tudouni.doubozhibo.com/common/h5/carnival/0904_2_01.png" alt=""></dt>
                            <dd>有效天数</dd>
                        </dl>
                        <dl>
                            <dt><img src="https://image.tudouni.doubozhibo.com/common/h5/carnival/0904_2_02.png" alt=""></dt>
                            <dd>粮票收益</dd>
                        </dl>
                        <dl>
                            <dt><img src="https://image.tudouni.doubozhibo.com/common/h5/carnival/0904_2_03.png" alt=""></dt>
                            <dd>邀请人数</dd>
                        </dl>
                        <dl>
                            <dt><img src="https://image.tudouni.doubozhibo.com/common/h5/carnival/0904_2_02.png" alt=""></dt>
                            <dd>留榜人数</dd>
                        </dl>
                        <p class="rule_itme"><span>3</span>计算方法</p>
                        <p class="tips tips1">有效天数得分=</p>
                        <p>主播直播有效天数÷25天（满分）×500</p>
                        <p class="ps">ps：当天累计直播时长超过2h为一个有效天数；</p>
                        <p class="tips">粮票收益得分=</p>
                        <p>主播粮票收益÷全平台粮票最高者收益（满分）×200</p>
                        <p class="tips">邀请人数得分=</p> 
                        <p>主播邀请人数÷全平台最高邀请者人数（满分）×100</p>
                        <p class="ps">ps：邀请人数包括一级好友及二级好友；</p>
                        <p class="tips">留榜人数得分<span>（200分）</span></p>
                        <img class="gradeimg" src="https://image.tudouni.doubozhibo.com/common/h5/carnival/0904_1_01.png" alt="">
                        <p class="ps">ps：包括整个9月月榜人数，低于200粮票的留榜用户不列入计算；</p>
                        <p class="rule_itme"><span>4</span>活动期间内，分数相同的主播按达到分数时间进行排行，奖励按实际排名发放，总名额不变；</p>
                        <p class="rule_itme"><span>5</span>活动结束后，最终排名将会于土豆泥内公示7天；</p>
                        <p class="rule_itme"><span>6</span>请上榜主播在活动结束7天内提交中奖信息；</p>
                        <p class="rule_itme"><span>7</span>活动奖励将在公示后7个工作日内，统一发放；</p>
                        <p class="rule_itme"><span>8</span>本次活动禁止恶意刷票等作弊行为，如被发现成绩作废，取消参赛资格，并追究法律责任。</p>
                    </div>
                </div>
            </div>
            <div class="content_3" v-if="navActive == 2">
                <!-- 我的排名 站外取消 -->
                <div class="mylist" v-if="isApp">
                    <div><img :src="myInfo.photo" alt=""></div>
                    <div>
                        <p v-text="'我的分数：' + myInfo.score" v-if="myInfo.score > 0"></p>
                        <p v-text="'我的排名：' + myInfo.ranking" v-if="myInfo.ranking > 0"></p>
                        <p v-text="'我的排名：暂无排名'" v-else></p>
                    </div>
                </div>
                <img class="rimg" src="https://image.tudouni.doubozhibo.com/common/h5/carnival/0904_x_10.png" alt="">
                <p class="rtitle">SEPTEMBER</p>
                <div class="calendar">
                    <p class="title"><span class="first">M</span><span>T</span><span>W</span><span>T</span><span>F</span><span>S</span><span class="last">S</span></p>
                    <p>
                        <span 
                            v-for="(i, index) in days" 
                            v-text="i" 
                            :class="{'first': (index%7 == 0),'last': ((index + 1)%7 == 0), 'noday': index < 10, 'nowday': i == nowdays}"
                            @click="choice(i, index)"></span>
                    </p>
                </div>
                <!-- 列表 -->
                <div class="list_wrap">
                    <div class="list_title">
                        <span>实时排名</span>
                        <span>头像</span>
                        <span>昵称</span>
                        <span>实时分数</span>
                    </div>
                    <div class="list_content">
                        <ul v-if="list.length > 0">
                            <li v-for="item in list">
                                <div v-text="item.ranking"></div>
                                <div class="toux" :class="{'live': item.lid}"><img :src="imgUrl(item.photo)" @click="godetail(item.userId)" alt=""></div>
                                <div><p class="name" v-text="item.nickname"></p></div>
                                <div v-text="item.score"></div>
                            </li>
                        </ul>
                        <p class="sblrb" v-else>活动已开始, 快来抢沙发！</p>
                    </div>
                </div>
                <p class="ps">ps：由于最高粮票收益及最高邀请人数两个指标实时变动，所以主播实时分数会有<span>上下浮动</span>，以活动结束时分数为最终分数。</p>
            </div>
        </div>
        <!-- 日历弹窗 -->
        <div class="tanC" style="display: none" v-show="showDays">
            <div class="tanC_box">
                <h3>打卡星秀</h3>
                <div class="tanC_list" style="display: none" v-show="daylist.length > 0">
                    <div id="wrapper">
                        <div class="scroller">
                            <ul>
                                <li v-for="item in daylist">
                                    <div class="toux"><img :src="imgUrl(item.photo)" @click="godetail(item.userId)" alt=""></div>
                                    <div><p class="name" v-text="item.nickname"></p></div>
                                    <div v-text="item.hots + '粮票'"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="day_tips">ps：当天直播累积时长超过2h才有机会上榜！</p>
                </div>
                <div class="nodata" style="display: none" v-show="daylist.length == 0"><p>暂无人上榜，快来抢沙发！</p></div>
                <div class="close" @click="closeTab()"></div>
            </div>
        </div>

        <!-- bottom -->
        <div class="bottom_wrap">
            <p>最终解释权归土豆泥官方所有</p>
            <p>如有疑问请咨询<a href="https://static.meiqia.com/dist/standalone.html?_=t&eid=59437">官方客服</a></p>
        </div>

        <!-- share -->
        <div class="share" @click="share"></div>
    </div>
</body>
    <script src="../com/jquery.js"></script>
    <script src="../com/vue.min.js"></script>
    <script src="https://h5.tudouni.doubozhibo.com/tudouni/js/iscroll.js"></script>
    <script src="../js/hpshow.js"></script>
</html>