<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>全部分类</title>
    <link rel="stylesheet" href="../css/commom.css">
    <link rel="stylesheet" href="../css/categories.css">
</head>
<body>
    <div class="header">
        <div class="header-icon-goback">
            <img class="left backButton" src="../img/icon_navbar_back_black@2x.png">
        </div>
        <div class="goods-center-input">
            <i class="icon-fix-search"></i>
            <input type="text"  placeholder="输入名称搜索更多商品" readonly="readonly">
        </div>
        <div class="goods-right-icon">
            <img src="../img/icon_navbar_cart_black@2x.png" alt="">
        </div>
    </div>
    <div class="containers">
        <div class="main-shop-container">
            <div class="main-left-category left">
                <div>
                    <ul class="category-menu">
                        <li :class="{'active': active == index}" @click="change(index)" v-for="(item, index) in categorylist"><p class="name" v-text="item.categoryName"></p></li>
                    </ul>
                </div>
            </div>
            <div class="main-right-product right">
                <div>
                    <div class="category-group" style="display: none" v-show="category">
                        <div class="category-group-top">
                            <img :src="category.img_url" style="height: 71.28px;">
                        </div>
                        <section v-for="item in category.childs">
                            <div class="n-nav-title">
                                <span class="line"></span>{{item.categoryName}}<span class="line"></span>
                            </div>
                            <ul class="right-product-group clearfix">
                                <li class="right-product-item" v-for="jtem in item.childs">
                                    <a href="#/xx">
                                        <div class="product">
                                            <img :src="jtem.img_url" class="image" alt="">
                                            <span class="name sibu-text-overflow">{{jtem.categoryName}}</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="../js/jquery.js"></script>
    <script src="../js/iscroll.js"></script>
    <script src="../js/vue.min.js"></script>
    <script>
        new Vue({
            el: '.containers',
            data: {
                url: 'http://buyer.rc.doubozhibo.com/index/categoryList',
                categorylist: [],
                active: 1,
                category: {},
                product: ''
            },
            mounted: function(){
                this.getlist();
            },
            methods: {
                getlist: function(){
                    var self = this;
                    $.ajax({
                        url: self.url,
                        type: 'get',
                        data: {},
                        success: function(res) {
                            console.log(res);
                            if (res.errorCode == 0) {
                                self.categorylist = res.result;
                                self.category = self.categorylist[self.active];
                                window.onload = function(){
                                    new IScroll('.main-left-category');
                                    self.product = new IScroll('.main-right-product');
                                }
                            }
                        }
                    })
                },
                change: function(id) {
                    var self = this;
                    this.active = id;
                    this.category = this.categorylist[id];
                    setTimeout(function(){
                        self.product.refresh();
                        self.product.resetPosition();
                    }, 300);
                }
            }
        })
    </script>
</html>